/*
Paleta


extras ------------------- No usado 
------------------
1. Fondo: #1A374D
2. Encabezado y pies de página: #2B3D59
3. Secciones principales: #8B9DAF
4. Secciones secundarias: #C7D2DC
5. Texto principal: #0B1A2A
6. Botones de navegación: #F7D68E
7. Títulos y subtítulos: #56B3FA
-----------------------

opc 1   ------------------------- USADO en el header
1. #003B46 (dark blue)
2. #07575B (midnight blue)
3. #021C1E (deep teal)
4. #004445 (dark green)
5. #324851 (mocha)
6. Botones de navegación: #F7D68E
*/

@font-face{
    font-family: "sbfont";
    src: url(https://www.starbucks.com.mx/static/fonts/SoDoSans-Bold.woff);
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: #F9F9F9;
        text-decoration: none;
}

body{
    background-color: F9F9F9;
}

.pages-container button{
    border: 0px;
    text-decoration: none;
    background: none;
    color: #F2F2F2;
    font-weight: 700;
}

.top-head header{
    background-color: #07575B;
    width: 100%;
    padding: 40px;
}


header .pages-container{
    background-color: #004445;
    width:  45%;
    float: right;
}


.pages{
    color: #F2F2F2;
    text-decoration: none;
}


.home{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #004445;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}
.paquetes{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #004445;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}
.contacto{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #004445;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}
.acerca{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #004445;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}


a#active{
    background-color: #50808E;
    color:#D6F8D6;
}

.logoh1{
    background-color: #07575B;
    color: #F2F2F2;
    text-align: center;
    letter-spacing: 0.5em;
    transition: 0.5s;
}

header .home:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}
header .paquetes:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}
header .contacto:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}
header .acerca:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}

/* Primera parte */
.home-container{
    border: 0px solid black;
    border-radius: 16px;
    width: 45%;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    margin-bottom: 20px;
}


.main-home-container{
    padding: 20px;
    background-image: url(https://cdn.discordapp.com/attachments/1231410669476118648/1244135092553650270/240_F_804510977_AAZl4yz9RCa6nHfLCawUZqXA8IMMbgpf.png?ex=66540298&is=6652b118&hm=801e9a9fbc359847fabe5138a4356872f740193c1024ff8e168de416aff28fe1&);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-container span{
    color: #0070FF ;
    background-color: #F9F9F9;
}
.home-container h1{
    padding: 29px;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 100) ;
    background-color: #F9F9F9;
    text-align: center;
    letter-spacing: 7px;
}

#azul{
    background-color: #F9F9F9;
    font-size: 40px;
    letter-spacing: 0.5px;
}

#naranja{
    background-color: #F9F9F9;
    font-size: 30px;
    padding: 10px;
    
}

#problem{
    background-color: #F9F9F9;
    font-size: 25px;
    padding: 10px;
}


.asd{
    background-color: #004445;
    color: #F9F9F9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.asd p{
    background-color: #004445;
    color: #F9F9F9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.asd i{
    text-decoration: none;
}