/*
Paleta


extras ------------------- No usado 
------------------
1. Fondo: #1A374D
2. Encabezado y pies de página: #2B3D59
3. Secciones principales: #8B9DAF
4. Secciones secundarias: #C7D2DC
5. Texto principal: #0B1A2A
6. Botones de navegación: #F7D68E
7. Títulos y subtítulos: #56B3FA
-----------------------

opc 1   ------------------------- USADO en el header
1. #003B46 (dark blue)
2. #07575B (midnight blue)
3. #021C1E (deep teal)
4. #004445 (dark green)
5. #324851 (mocha)
6. Botones de navegación: #F7D68E
*/

a{
    text-decoration: none;
}


*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #F9F9F9;
}


.pages-container button{
    border: 0px;
    text-decoration: none;
    background: none;
    color: #F2F2F2;
    font-weight: 700;
}

.top-head header{
    background-color: #07575B;
    width: auto;
    padding: 40px;
}


header .pages-container{
    background-color: #004445;
    width:  45%;
    float: right;
}


.pages{
    color: #F2F2F2;
    text-decoration: none;
}


.home{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}
.paquetes{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}
.contacto{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}
.acerca{
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding: 10px;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}


a#active{
    background-color: #50808E;
    color:#D6F8D6;
}

.logoh1{
    background-color: #07575B;
    color: #F2F2F2;
    text-align: center;
    letter-spacing: 0.5em;
    transition: 0.5s;
}

header .home:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}
header .paquetes:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}
header .contacto:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}
header .acerca:hover{
    background-color: #F7D68E;
    color: #004445;
    transition: 0.5s;
}

/* Primera parte 
.home-container{
    margin: auto;
    border: 0px solid black;
    border-radius: 16px;
    width: 90%;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    margin-bottom: 20px;
}
*/
.nav-bar{
    pointer-events: none;
    margin: 105px;
    margin-bottom:0px;
    padding: 8px;
    width: auto;
    height: 25px;
    border-radius: 16px 16px 0px 0px;
    background-color: #333;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10) ;
}

#nav-bar-title{
    background-color: #333;
    color: #ffffff;
    padding: 2px;
}

.cerrar{
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3d3d3d;
    border-radius: 15px;
}

.cerrar div{
    padding: 0px 16px;
    float: right;
    letter-spacing: 10px;
}
.terminal-body{
    margin: 105px;
    margin-top: 0px;
    background-color: #3d3d3d;
    height: auto;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10) ;
    color: #ffffff;
    padding: 25px;
}

#contactaunxp{
    padding: 2px;
    text-decoration: none; 
    border-bottom: 3px solid #f2f2f2; 
    background-color: #585858;
    padding-bottom:5px; 
    color: #f2f2f2;
}


.cat{
    margin-top: 40px;
    margin-left: 16px;
    font-weight: bold;
    font-size:18px ;
    text-align: center;
    background-color: #63626257;
    border-left: 2px solid whitesmoke; 
    padding-bottom: 29px;
    padding-top: 20px;
    padding: 20px;
}

.cat span{
    color: #14d0da;
    font-size: 39px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.cat h1{
    font-weight: 900;
    padding: 26x;
    color: #14d0da;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
    text-align: center;
    letter-spacing: 17px;
    text-transform: uppercase;
}

.cat p{
    font-size: 32px;
}
.info-container-slog{
    width: auto;
    background-color: #004445;
    color: #F9F9F9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.info-container-slog ul,li{
    padding-left:5px;
    padding-right:5px;
    display: inline;
    background-color: #004445;
    color: #F9F9F9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.info-container-slog span{
    background-color: #004445;
    text-decoration: none;
}

.container-2{
    width: 900px;
    height: auto;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 22px;
    font-size: large;
}

.container-2 h1{
    font-family: "Space Mono", monospace;
    color: #07575B;
    text-align: center;
}

.container-2 p{
    font-family: Muli, sans-serif;
    padding: 10px;
    line-height: 24px;
    color: #333;
    text-align: justify;
}

.container-2 span{
    font-family: Muli, sans-serif ;
    color: #333;
    font-weight: bolder;
}
